@import "./common.css";

/* SECTION MICRO-SERVICE */
.permission-section {
    margin-bottom: 30px;
}

.permission-section h3 {
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-sidebar);
    padding-bottom: 5px;
}

/* TABLE DES PERMISSIONS */
.permissions-table-wrapper {
    overflow-x: auto;
}

.table-container th {
    background: var(--color-sidebar);
    text-align: center;
    font-weight: bold;
}

.permission-checkbox {
    text-align: center;
}

.permission-checkbox input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
